/* big tablets to 1200px  (width smaller to 1140px row)*/
@media only screen and (max-width: 1200px) {
    
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }

}

/* small tablets to big tablets from  768px to 1023px */
@media only screen and (max-width: 1023px) {
    
    body { font-size: 18px; }
    section { padding: 60px 0;}
    
    .long-copy {
        width: 80%;
        margin-left: 10%;    
    }
    
    .step-box:first-child { margin-top: 10px; } 
    .step-box:last-child {margin-top: 50px; }
    .works-step { margin-bottom: 40px; }
    .works-step:last-of-type { margin-bottom: 60px; }   
    .app-screen { width: 50%; }  
    
    .icon-small { 
        width: 16px; 
        margin-right: 5px;
    }
    
    .city-feature { font-size: 90%; }
    
    .plan-box { 
        width: 100%;
        margin-left: 0;
    }
    
    .plan-price { font-size: 250%; }   
    .contact-form { width: 80%; }
    
}

/* small phones to small tablets from  481px to 767px */
@media only screen and (max-width: 767px) {
    
    body { font-size: 16px; }
    section {padding: 30px 0; }
    .row,
    .hero-text-box{ padding: 0 4%; }   
    .hero-text-box { text-align: center; }

    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }   
    
    .main-nav { display: none; }
    .mobile-nav-icon { display: inline-block; }
    
    .main-nav {
        float: left;
        margin: 30px 0 0 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }
    
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    
    h1 { font-size: 170%; }
    h2 { font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0;
    }
      
    .works-step { 
        width: 80%;
        margin: 0 auto 20px; 
    }
    
    .works-step.last { 
        margin-bottom: 30px;
    }
    
    .works-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
    }
    
    .step-box:first-of-type,
    .works-btn { text-align: center; }
    .app-screen { width: 30%; }
    
    .section-features p,
    .section-features h3 { text-align: center; }
    
    .box img,
    .features {
        float: left;
        width: 40%;
    }
    
    .box img { margin: 0 5%; }    
    blockquote { text-align: justify; } 
    cite { text-align: right; }  
    .footer-nav,
    .social-icons { text-align: center; }   
    .footer-nav,
    .social-icons { float: none; }   
    .section-plans .row { padding: 0}
    
    .plan-container {
        width: 33.3%;
        padding: 0 10px;
        margin: 0;
    }
    
    .plan-box { 
        float: left;
    }
    
    .section-form .filler { display: none; }
    .submit-btn { text-align: center; }
  
}

/* small phones from  0 to 480px */
@media only screen and (max-width: 669px) {
    section { padding: 25px 0; }
    .contact-form { width:  100%; }
    .section-plans .row { padding: 10px}  
    .section-plans .row .col:first-child { margin: 0 auto; }
    
    .plan-container {
        width: 60%;
        margin-bottom: 10px;
        margin: 10px auto;
        float: none;
        text-align: center;
    }

    .plan-box {
        float: none;
        margin: 0 auto;
       
    }
    
}